* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Times New Roman', Times, serif;
  line-height: 1.5;
  background-color: purple;
  text-align: center;
}

a {
  color: #333;
  text-decoration: none;
}

.container {
  background-color: orange;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 100vw;
  padding: '1em';
}
.btn {
  display: inline-block;
  border: none;
  color: black;
  background-color: lightgrey;
  padding: 7px 20px;
  cursor: pointer;
}
.btn:hover {
  background-color: grey;
}